body {
  background-color: black;
  padding: 40px 40px 40px 40px;
}

.logo {
  height: 80px;
}

h1 {
  color: red;
}

h2 {
  color: white;
}

.item-container {
  display: flex;
}

.item {
  text-align: center;
  margin: 6px 6px;
  height: 100%;
}

button {
  border: none;
  color: white;
  font-size: 20px;
  background: none;
  cursor: pointer;
}

.image {
  height: 350px;
  width: 250px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  margin: 0 auto;
  margin-top: -40px;
  width: 50%;
  /* text-align:center */
}

.item:hover .image {
  opacity: 0.3;
}

.item:hover .middle {
  opacity: 1;
}

.title {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}

li {
  color: #f6f6f6;
}

p {
  color: white;
}


